<section id="film" class="container">
	<h5>GENEROS</h5>
	<button (click)="getList('movie', 'Peliculas')" type="button" class="btn btn-default">
		<span>Peliculas</span>
	</button>
	<button (click)="getList('tv', 'Series')" type="button" class="btn btn-default">
		<span>Series</span>
	</button>
	<h6 *ngIf="actualType">Generos de {{ actualType }}:</h6>
	<div *ngFor="let genre of genres">
		<button (click)="getList(genre.id)" type="button" class="btn btn-default">
			<span>{{ genre.name }}</span>
		</button>
	</div>
</section>