<div id="counter" class="container">
    <div class="thumbnail">
        <div class="caption">
            <h3>Contador Redux:</h3>
            <p> El valor del contador es: <b>{{ counter }}</b> </p>
            <p>
                <button (click)="increment()" class="button">
                        Incrementar
                </button>
                <button (click)="decrement()" class="button">
                        Desincrementar
                </button>
                <button (click)="restart()" class="button">
                        Restablecer valores
                </button>
            </p>
        </div>
    </div>
</div>