#video-club {
  margin-bottom: 30px; }
  #video-club button {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0px 30px;
    margin-right: 20px; }
  #video-club .title {
    color: #ff0000;
    text-align: center; }
    #video-club .title.genre {
      margin-top: 30px; }
  #video-club .genres {
    margin-top: 20px;
    text-align: center; }
