.alert {
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  padding: 2rem 2rem 2rem 4rem;
  position: relative;
  @media (min-width: $screen-xs) {
    min-width: 430px;
  }
  .icon-wrapper,
  .alert-wrapper {
    display: inline-block !important;
    vertical-align: top;
  }
  .icon-wrapper {
    position: absolute;
    top: 28px;
    left: 15px;
  }
  .alert-wrapper {
    width: 100%;
    // @media (min-width: $screen-xs) {
    //     width: 80%;
    // }
    //
    // @media (min-width: $screen-sm) {
    //     width: 85%;
    // }
    //
    // @media (min-width: $screen-md) {
    //     width: 86%;
    // }
  }
  // Show alert with Toastr
  &.alert-toastr {
    margin-bottom: $space-sm;
    &:hover {
      box-shadow: 0 0 0 0 transparent !important;
    }
    .toast-close-button {
      color: $gray-dark;
      font-size: $font-size-xxlg;
      top: 0 !important;
      position: absolute;
      right: 10px !important;
    }
    .toast-bottom-right & {
      margin-left: 12px;
    }
  }
}
