#genre {
  padding: 15px 0;
  text-align: center; }
  #genre div {
    margin: 0 auto;
    display: table;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #ff0000; }
    #genre div span {
      display: table-cell;
      vertical-align: middle; }
  #genre :hover {
    cursor: pointer; }
