<!--<p>poster_path: {{ film?.poster_path }}</p>-->
<!--<p>{{ film?.video }}</p>
	<p>video_average: {{ film?.video_average }}</p>-->
<!--<p>vote_count: {{ film?.vote_count }}</p>-->
<section id="film"  (click)="goDetail()">
	<!--<p>adult{{ film?.adult }}</p>-->
	<div class="image-content">
		<div class="result">
			<img [src]="urlImg" alt="film?.original_title">

		</div>
	</div>
	<div class="info">
		<div>
			<span class="title result">{{ film?.original_title }}</span>
			<!--<span class="title result">normal: {{ film?.title }}</span>-->
			<!--<span class="vote_average">5.2<span class="glyphicons glyphicons-star x1 rating movie"></span></span>-->
		</div>
		<div class="meta">
			<span class="release_date">{{ film?.release_date }} 
				<span class="glyphicons glyphicons-calendar x1"></span>
			</span>
		</div>
		<div class="genre">
			<span>Generos:</span>
			<span class="genres" *ngFor="let genre of genreEnum"> {{ genre }} </span>
			<span *ngIf="true">,</span>
		</div>
		<div class="overview">{{ film?.overview }}</div>
		<div class="popularity" data-role="tooltip">
			<span>Ranking de Popularidad: {{ film?.popularity }}</span>
			<!--<p>Hoy: 2</p>
            <p>Semana Pasada: 4</p>-->
		</div>
	</div>
</section>