#film {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
  border: 1px solid lightgray; }
  #film .image-content {
    background: #ff0000; }
  #film .info {
    font-size: 13px;
    padding: 10px; }
    #film .info > div {
      margin-bottom: 10px; }
