<footer id="mainFooter">
    <div class="container">
        <!--<a href="{{vm.footerContent.urlIcon}}" target="_blank" class="logo-footer" title="Contratación online de seguros médicos de Sanitas">
            <img src="{{vm.logoImg}}" alt="Contratación online de seguros médicos de Sanitas" class="full">
        </a>-->
        <div class="legal-footer">
            <ul class="list-inline">
                <li>
                    © {{ actualYear }} Angel Muñoz Sánchez
                </li>
                <!--<li ng-repeat="link in vm.footerContent.links track by link.name">
                    <a href="{{ link.url }}" target="_blank">{{link.name}}</a>
                </li>-->
            </ul>
        </div>
    </div>
</footer>